
    {% extends "layout.html" %}
   
    {% block content %}
    <h2>New User Registration</h2>

    <div class="container">
        <form name="register" action="" method="POST">
        {{form.hidden_tag()}}
            <p>
                {{ form.email.label}}<br>
                {{ form.email(size=35)}}
            </p>
            <p>
                {{ form.password.label}}<br>
                {{ form.password(min_size=8)}}
            </p>

            <p>
                {{ form.first_name.label}}<br>
                {{ form.email(size=35)}}
            </p>
            <p>
                {{ form.last_name.label}}<br>
                {{ form.email(size=35)}}
            </p>
            <p>
                {{ form.submit()}}
            </p>
            </form>
    </div>
    {% endblock %}