    <header>
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="templates/index.html" class="nav-link active">Home</a></li>
                <li class="nav-item"><a href="course-offerings.html" class="nav-link">Course</a></li>

                {% if not session['username'] %}
                <li class="nav-item"><a href="register.html" class="nav-link">Register</a></li>   
                {% endif %}
                {# <li class="nav-item"><a href="enrollment.html" class="nav-link {% if enrollment %}active{% endif %}">Enrollment</a></li> #}

                {% if not session['username'] %}
                <li class="nav-item"><a href="login.html" class="nav-link">Login</a></li>
                {% else %}
                <li class="nav-item"><a href="Logout.html" class="nav-link">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
        <hr style="clear:both">
    </header>